.sass-cache
www/app/config/core.php
www/app/config/database.php
www/app/tmp/cache/models/cake_*
www/app/tmp/cache/persistent/cake_*
www/app/tmp/logs/*.log
www/app/webroot/css/*
www/app/webroot/img/buttons/*
www/app/webroot/img/headers/*
www/app/webroot/img/letters/*
www/app/webroot/img/products/*
www/app/webroot/img/thumbs/*
www/app/webroot/js/main.js
