/* Generic */
body {
	background-color: #fff;
	font-family: sans-serif;
}

p {
	margin: 1em 0;
	font-family: sans-serif;
}

p img.first-letter {
	float: left;
	margin: 0 5px 0 5px;
}

h1 {
	margin: 0.5em 0;
	font-size: xx-large;
}

h2 {
	margin: 0.5em 0;
	font-size: x-large;
}

h3 {
	margin: 0.5em 0;
	font-size: large;
}

h4 {
	margin: 0.5em 0;
}

.header-replace {
	background-repeat: no-repeat;
	text-indent: -999px;
	overflow: hidden;
}

.clearer { clear: both; }

/* Main layout and header */
#container {
       width: 55em;
       margin: 0 auto;
}

#header {
	height: 100px;
	padding-left: 10px;
}

#header h1 {
}

/* Navigation and tabs */
.nav {
	height: 32px;
}

.nav li {
	float: left;
}

/* Main content */
#content {
	clear: left;
}

/* Flash message */
#flashMessage {
	padding: 1em;
	margin-bottom: 1em;
	background-color: #fcc;
	border: 3px solid #f00;
	border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-icab-border-radius: 25px;
	-khtml-border-radius: 25px;
	-webkit-border-radius: 25px;
}

/* Footer */
#footer {
	text-align: center;
}

#footer p {
	color: #999;
	font-size: x-small;
	padding: 5px;
	font-family: sans-serif;
}

#footer a {
	color: #333;
	text-decoration: none;
	border-bottom: 1px dotted #333;
}

/* Scaffold View */
dl {
	line-height: 2em;
	margin: 0em 0em;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/* Paging */
div.paging {
	color: #ccc;
	margin-bottom: 2em;
}
div.paging div.disabled {
	color: #ddd;
	display: inline;
}
div.paging span {
}
div.paging span.current {
	color: #000;
}
div.paging span a {
}

/* Forms */
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 80%;
}
fieldset {
	margin-top: 30px;
	padding: 16px 20px;
	border: 1px solid #ddd;
}
fieldset legend {
	color: #0045ce;
	font-size: large;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form div.input {
	color: #444;
}
form div.required {
	color: #333;
	font-weight: bold;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
	margin-left: 140px;
}
label {
	display: block;
	padding-right: 20px;
}
input, textarea {
	clear: both;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 2px;
	width: 100%;
}
input.button {
	width: auto;
	padding: 0;
}
select {
	clear: both;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	padding: 2px 5px;
	width: auto;
	vertical-align: bottom;
}
textarea.monospace {
	font-family: monospace;
}

/*  Actions  */
div.actions ul {
	margin: 0px 0;
	padding: 0;
}
div.actions li {
	display: inline;
	list-style-type: none;
	line-height: 2em;
	margin: 0 2em 0 0;
	white-space: nowrap;
}
div.actions ul li a {
	color: #003d4c;
	text-decoration: none;
}
div.actions ul li a:hover {
	color: #333;
	text-decoration: underline;
}

/* Related */
div.related {
	clear: both;
	display: block;
}

/* Tables */
.adminIndex table td {
	font-size: small;
}

table {
	background: #fff;
	border: 1px solid #ccc;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	background: #f2f2f2;
	border:1px solid #ccc;
	text-align: center;
}
th a {
	background:#f2f2f2;
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a:hover {
	background: #ccc;
	color: #333;
	text-decoration: none;
}
table tr td {
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 4px;
	text-align: center;
	vertical-align: top;
}
table tr.altrow td {
	background: #f4f4f4;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
td.actions a {
	margin: 0px 6px;
}
.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
}
