// Import CSS reset
@import "reset";
@include global-reset;

// Import font faces
@import "josefin";

// Global variables
$page-width: 750px;
$product-width: ($page-width / 3) - 10px;

// Normalize font sizes
body { font:13px/1.231 sans-serif; }
select, input, textarea, button { font:99% sans-serif; }

@function font-scale($size) {
        @return ($size / 13px) * 100%;
}

/* Mixins */
@mixin polaroid {
    border: 1px solid #ccc;
    padding: 6px;
    -moz-box-shadow: 0px 0px 3px #aaa;
}

/* Base styles */
html, body {
    background-color: #f8f8f8;
    padding: 0;
}

p {
    margin: 1em 0;
    font-family: sans-serif;
}

p img.first-letter {
    float: left;
    margin: 0 5px 0 5px;
}

h1, h2, h3, h4 {
    margin: 0.5em 0;
        font-family: 'Josefin';
}

h1 { font-size: font-scale(48px); }
h2 { font-size: font-scale(36px); }
h3 { font-size: font-scale(24px); }
h4 { font-size: font-scale(20px); }

a {
    $link-color: #4183c4;
    color: $link-color;
    &:active { color: $link-color; }
    &:visited { color: $link-color; }
}

em { font-style: italic; }
strong { font-weight: bold; }
pre { font-family: monospace; }

ul {
    list-style-type: disc;
    list-style-position: inside;
}

.header-replace {
    background-repeat: no-repeat;
    text-indent: -999px;
    overflow: hidden;
}

.clearer { clear: both; }

/* Main layout and header */
#container {
    width: $page-width;
    margin: 0 auto;
    padding: 0 32px 16px 32px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;
}

#header {
    height: 100px;
}

/* Navigation and tabs */
.nav {
    height: 32px;
    clear: both;

    ul { list-style-type: none; }
 
    li {
        float: left;
        margin-right: 2em;

        font: {
            family: 'Josefin';
            size: font-scale(24px);
        }

        a {
            text-decoration: none;
            &:before { content: '› '; }
        }
    }
}

/* Main content */
#content {
    clear: left;
        margin-bottom: 2em;
}

/* Flash message */
#flashMessage {
    padding: 1em;
    margin-bottom: 1em;
    background-color: #fcc;
    border: 3px solid #f00;
    border-radius: 25px;
    -o-border-radius: 25px;
    -moz-border-radius: 25px;
    -icab-border-radius: 25px;
    -khtml-border-radius: 25px;
    -webkit-border-radius: 25px;
}

/* Footer */
#footer {
    text-align: center;
    clear: both;

    p {
        color: #777;
        font-size: font-scale(10px);
        padding: 5px;
        font-family: sans-serif;

        a {
            color: #333;
            text-decoration: none;
            border-bottom: 1px dotted #333;
        }
    }
}

/* Sidebar */
#sidebar {
    width: $page-width - ($product-width * 2) - 16px;
    float: right;

    .browse {
        margin-left: 16px;
        background-color: #f8f8f8;
        border: 1px solid #eee;
        -moz-border-radius: 12px 0px 12px 0px;
        -moz-box-shadow: 0px 1px 2px #ddd;
        margin-bottom: 32px;
    }

    h4 {
        padding: 8px 24px;
        margin: 0;
    }

    ul {
        border-top: 1px solid #eee;
        background-color: #f8f8f8;
        padding-bottom: 12px;
        list-style-type: none;

        li {
            border-bottom: 1px solid #eee;
            line-height: 2em;
            background-color: #fff;
            padding: 0 24px;

            a { text-decoration: none; }
        }
    }
}

/* Floating product box */
#products {
    .product-box {
        $product-padding: $product-width - 184px;
        float: left;
        width: $product-width - $product-padding;
        padding: 0 ($product-padding / 2);
        margin-right: 10px;
        margin-bottom: 10px;

        h4 { text-align: center; }
        a.product-thumb {
            width: 162px;
            display: block;
            margin: 0 auto;
            img { @include polaroid; }
        }
    }

    .product-group { overflow: hidden; }
    .last { margin-right: 0px; }
}

/* Product view */
#product-view {
    a.product-image {
        float: left;
        margin: 0 12px 12px 0;
        
        &.spotlight { margin: 0 32px 32px 0; }

        img { @include polaroid; }
    }
}

#add-to-cart {
    clear: left;

    input { margin-left: 24px; }
}

#product-images {
    clear: both;
    margin-top: 32px;
}

/* Scaffold View */
dl {
    line-height: 2em;
    margin-bottom: 1em;
}
dt {
    font-weight: bold;
    padding-left: 4px;
    vertical-align: top;
}
dd {
    margin-left: 10em;
    margin-top: -2em;
    vertical-align: top;
}

/* Paging */
div.paging {
    color: #ccc;
    margin-bottom: 2em;
}
div.paging div.disabled {
    color: #ddd;
    display: inline;
}
div.paging span {
}
div.paging span.current {
    color: #000;
}
div.paging span a {
}

/* Forms */
form {
    clear: both;
    margin-right: 20px;
    padding: 0;
    width: 80%;
}
fieldset {
    margin-top: 30px;
    padding: 16px 20px;
    border: 1px solid #ddd;
        
        legend {
                font: {
                        family: 'Josefin';
                        size: font-scale(24px);
                }
        }
}
fieldset fieldset {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 16px 10px;
}
fieldset fieldset legend {
    font-size: 120%;
    font-weight: normal;
}
fieldset fieldset div {
    clear: left;
    margin: 0 20px;
}
form div {
    clear: both;
    margin-bottom: 1em;
    padding: .5em;
    vertical-align: text-top;
}
form div.input {
    color: #444;
}
form div.required {
    color: #333;
    font-weight: bold;
}
form div.submit {
    border: 0;
    clear: both;
    margin-top: 10px;
    margin-left: 140px;
}
label {
    display: block;
    padding-right: 20px;
}
input, textarea {
    clear: both;
    font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
    padding: 2px;
    width: 100%;
}
input.button {
    width: auto;
    padding: 0;
}
select {
    clear: both;
    vertical-align: text-bottom;
}
select[multiple=multiple] {
    width: 100%;
}
option {
    padding: 0 3px;
}
input[type=checkbox] {
    clear: left;
    float: left;
    margin: 0px 6px 7px 2px;
    width: auto;
}
input[type=radio] {
    float:left;
    width:auto;
    margin: 0 3px 7px 0;
}
div.radio label {
    margin: 0 0 6px 20px;
}
input[type=submit] {
    display: inline;
    padding: 2px 5px;
    width: auto;
    vertical-align: bottom;
}
textarea.monospace {
    font-family: monospace;
}

/*  Actions  */
div.actions ul {
        margin-bottom: 1em;
        padding: 0;
        height: 18px;

        li {
                float: left;
                margin-right: 2em;

                font: {
                        family: 'Josefin';
                        size: font-scale(18px);
                }

                a {
                        text-decoration: none;
                        &:before { content: '› '; }
                }
        }
}

/* Related */
div.related {
    clear: both;
    display: block;
}

/* Tables */
.adminIndex table td {
    font-size: small;
}

table {
    background: #fff;
    border: 1px solid #ccc;
    clear: both;
    color: #333;
    margin-bottom: 10px;
    width: 100%;
}
th {
    background: #f2f2f2;
    border:1px solid #ccc;
    text-align: center;
}
th a {
    background:#f2f2f2;
    display: block;
    padding: 2px 4px;
    text-decoration: none;
}
th a:hover {
    background: #ccc;
    color: #333;
    text-decoration: none;
}
table tr td {
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 4px;
    text-align: center;
    vertical-align: top;
}
table tr.altrow td {
    background: #f4f4f4;
}
td.actions {
    text-align: left;
    white-space: nowrap;
}
td.actions a {
    margin: 0px 6px;
}
.cake-sql-log table {
    background: #f4f4f4;
}
.cake-sql-log td {
    padding: 4px 8px;
    text-align: left;
}
